@media only screen and (min-width: 32.5em) {

img {
float: right;
border-radius: 0 20px 0 0;
padding-right: 1.5rem;
width: 20%;
}

#header{
 border-radius: 10px;   
}

h1 {
    font-size: 2.5rem; 
    padding: 5%; 
}

h2 {
    font-size: 1.5rem;
}
footer {
    border-radius: 10px;
    text-align: center;
}

#third{
   border-radius: 10px; 

}
}