

#header{
  background-color: #e1a064;
  margin-top: 30px;
}
h1{
  font-size: 1.5rem;
  padding: 10px 20px 10px 20px;
  font-family: 'New Tegomin', serif;
  text-align: center;
}

h2{
    border-bottom-style: groove; 
    margin-top: 5rem;
    margin-left: 20px;
    font-size: 1rem;
    font-family: 'New Tegomin', serif;
    }

 img{
 min-width:15%; 
 height:auto;
 display:block;
 margin:auto;
 padding-top: 1rem;

}

#second { 
    display: inline;
}
#third {
    background-color: white ;

    

}
ul{
    margin-top: 5%;
    margin-bottom: 10%;
}
li {
    font-size: 20px;
    margin : 10px;
}
body{
    display:block;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    background-color: rgb(179, 135, 159);
    box-sizing: inherit;
    font-family: 'Indie Flower', cursive;
}
footer{
    background-color:#e1a064;
    padding: 10px 20px 10px 20px;
    text-align: center;
    padding: 1rem 0.8rem; 
    font-family: 'New Tegomin', serif; 
}