h1{
  background-color: #e1a064;
  margin-top: 0px;
  border-radius: 0.5em;
  text-align: left;
  font-size: 40px;
  padding: 30px 30px 30px 20px;
  
}

h2{
    border-bottom-style: groove; 
    margin-top: 120px;
    margin-left: 20px;
    font-size: 30px;
    }
#first{
 float: right; 
 margin-right: 10px;
 margin-top: -120px;
 border-top-right-radius: 10%; 
 width: 20%;  
}
#second { 
    display: inline;
}
#third {
    background-color: white ;
    border-radius: 1.5em;
    

}
ul{
    margin-top: 5%;
    margin-bottom: 10%;
}
li {
    font-size: 20px;
    margin : 10px;
}
body{
    display:inline-block;
    width: 70%;
    margin: 10% 30% 10% 30%;
    background-color: rgb(179, 135, 159);
}
footer{
    background-color:#e1a064;
    padding: 10px 20px 10px 20px;
    text-align: center;   
    border-radius: 0.5em;
}