@media only screen and (min-width: 60em){
    /****nav bar that goes in every page***/
    nav ul {
        display: flex;
    }
    nav li {
        display:inline-block;
        
    }
    nav ul li {
        flex: 1 1 1 100%;
    }
nav ul li a {
    padding: 0.6rem 1rem;
}
/******preston page******/
 .pink {
     max-width: 100%;
 } 
 .map {
     max-width: 100%;
 } 
 
 /******end preston page*****/
}    