@media only screen and (min-width: 37.5em){
    nav ul {
        display: flex;
    }
    nav li {
        display:inline-block;
        
    }
    nav ul li {
        flex: 1 1 100%;
    }
 .cat-two{
    width: 80%;
    margin-left: 4.5rem;
    
}
    header, nav ,main, footer {
    
        margin: auto;
    }
    
nav{
    margin-top: -25px;
}
     
    .cat-one {
        width: 100%;
        margin:auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
 }   
    
}