@media only screen and (min-width: 37.5em){
    nav ul {
        display: flex;
    }
    nav li {
        display:inline-block;
        
    }
    nav ul li {
        flex: 1 1 100%;
    }

    header, nav ,main, footer, img {
    
        margin: auto;
        margin-bottom: 0.5rem;
        }
nav{
    margin-top: -25px;
}
     
    .catone {
        width: 100%;
    } 
     
}