
h1 {
    background-color: navajowhite;
    text-align: center;
    padding:2rem;
}
footer{
    background-color: navajowhite;
    text-align: center;
    padding:auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 15px; 
    
}
.catone {
    min-width: 200%;
}
header, nav, main, footer {
max-width: 767px;
margin: 0.5rem;
}

nav {
background-color: rgb(172, 193, 231);
text-align: center;
margin-top: -25px;
}
   
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li a {
display: block;
color:rgb(20, 18, 16);
text-align: center;
padding: 0.75rem;
text-decoration: none;
 font-size: 0.95rem;       
}
picture{
    width:100%;
}
nav a:hover {
background-color: navajowhite;
color: rgb(218, 111, 111);
}

.apple{
    margin-top: -2rem;
    
}
.grape{
    margin-bottom: 2rem;

}
.house1 {
    font-family: 'Fira Sans', sans-serif; 
}
.house2 {
    font-family: 'Roboto', sans-serif; 
}
.catone{
    min-width: 90%;
}
