/*h1 {
    text-align: center;
}

table, th,td {
    border:1px solid rgb(201, 194, 194);
}
table {
    table-layout:fixed;
    width:350px;
    max-width: 90%;
    border-collapse: collapse;
    margin:auto;
    box-shadow: 10px 10px 10px #628ca6;
}
 td {
    height: 35px;   
    text-align: center;
    vertical-align: center;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

tr:nth-child(even) {background-color:#e7f0ed;}
tr:nth-child(odd) {background-color: #e7ffed;}

.cell {
    background-color: #628ca6; color: white;
}

th {
    height: 35px;
   background-color:#7fb9c2; 
   color:black;
   font-family: 'Ubuntu', sans-serif; 
}
.subheader {
    background-color: #628ca6;
    color: white;
    font-size: 20px;
}
.title {
  font-size: 30px; 
  padding: 0.5rem; 
}*/
h1 {
    text-align: center;
    font-size: 24px;
}
table, td {
    border:1px solid rgb(201, 194, 194);
    padding: .625em;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.title {

    background-color:#7fb9c2; 
    color:black;
    font-family: 'Ubuntu', sans-serif; 
    font-size: 30px;
    padding: 1rem; 
    margin-bottom: -20px;
}
.foo {
    background-color:#7fb9c2; 
    color:black;
    font-family: 'Ubuntu', sans-serif; 
    padding: 1rem; 
    margin-top: -20px;   
}
.subheader {
    background-color: #628ca6;
    color: white;
    font-size: 15px;
}

tr:nth-child(even) {background-color:#e7f0ed;}
tr:nth-child(odd) {background-color: #e7ffed;}

table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 350px;
    table-layout: fixed;
    box-shadow: 10px 10px 10px #628ca6;
  }
   
  @media screen and (max-width: 600px) {
h1 {
    align-self: center;
}
    .sub {
        display:none;   
    }
   
     table tr {
      display: block;
      margin-bottom: 1em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
      padding-right: 2rem;
    }
    
    table td::before {
      
      content: attr(data-th);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 1px solid #ddd;
    }
  
.title {
    display:block;
}
.foo {
    display: block;
}
  }