@media only screen and (min-width: 37.5em){
    nav button{
        display: none;
    }
    nav ul {
        display: flex;
    }
    nav li {
        display:inline-block;
        
    }
    nav ul li {
        flex: 1 1 100%;
    } 
    
    nav ul.hide {
        display: block;
    }

    main {
        display:block;
        margin: auto;

    }

    header {
        padding: 2rem;
        align-self: center;
    
    }
    .textholder {
        background-color: #8a6c92;
    }
    .grape {
        
        max-width: 100%;
        padding-top: 2rem; 
        
    }
    .better {
        font-size: 45px;
        padding-left: 19rem;
    }
    .better.one {
        padding-left: 20rem;
    }
    
    .apple{
        margin-left: -1rem;
        max-width: 767px; 
        align-items: center; 
    }
    
    
}