@media only screen and (min-width: 37.5em){
    nav button{
        display: none;
    }
    nav ul {
        display: flex;
    }
    nav li {
        display:inline-block;
        
    }
    nav ul li {
        flex: 1 1 100%;
    } 
    
    nav ul.hide {
        display: block;
    }

    main {
        display:block;
        margin: auto;

    }

    .textholder {
        background-color: #8a6c92;
    }
    .grape {
width: 80%;
    }
    .grapeone{
        margin-left: -37rem;
    }
}