@media only screen and (min-width: 37.5em){
    nav button{
        display: none;
    }
    nav ul {
        display: flex;
    }
    nav li {
        display:inline-block;
        
    }
    nav ul li {
        flex: 1 1 100%;
    } 
    
    nav ul.hide {
        display: block;
    }

    main {
        display:block;
        margin: auto;

    }

    header {
        padding: 2rem;
        align-self: center;
    
    }
    .textholder {
        background-color: #8a6c92;
    }
    .apple{
        
        text-align:center;
        display: block;
    }
    .grape{
        
        float:left;
        margin-left: 18rem;
        margin-right:-16rem;
        padding: 0.5rem;
        
    }
    .better{
        font-size: 45px;
        text-align: center;
    }
}