header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    color: rgb(107, 125, 136);
    font-size: 50px;
    text-shadow: 0 0 20px rgb(112, 108, 108);
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(245px, 1fr));
  border:cornflowerblue solid 2px; 
  padding: 0.5rem;
  background-color: rgb(107, 125, 136);
  box-shadow: 0 0 20px rgb(112, 108, 108);
  
}
section {
    border:rgb(52, 52, 54) solid 1px;
    margin: 0.2rem;
    background-color: burlywood;
    text-align: center;
    padding: 1rem 2rem;
}
section img {
    width: 100%;
    box-shadow: 0 0 20px rgb(112, 108, 108);    
}

footer {
    text-align: center;
    padding: 1rem;
    margin:0 auto;
    font-size: 20px;
}