h1 {
    text-align: center;
}


.pictures {
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

img[data-src] {
filter: blur(0em);
}

img {
    filter: blur(0em);
    transition: filter 2s;
    border: 2px solid rgb(34, 34, 34);
}

