@media only screen and (min-width: 37.5em){

  /*********header********/
  header img {
    width: 150%;
  }
  .grapeone h1 {
    font-size: 2.5rem;
    margin: 0 0 0 60px;
  }
  .grapetwo {
    letter-spacing: 3pt;
    font-size: 1rem;
    margin-left: 7rem;
  }
 


/********end header****/

    nav button{
        display: none;
    }
    nav ul {
        display: flex;
    }
    nav li {
        display:inline-block;
        
    }
    nav ul li {
        flex: 1 1 100%;
    } 
    
    nav ul.hide {
        display: block;
    }

    main {
        display:block;
        margin: auto;

    }
    main, footer {
        max-width: 767px;
        
    }

    .textholder {
        background-color: #8a6c92;
    }
    
/********main********/
    .Article img {
        float: right;
        width: 50%;
        margin:15px;
        }
    .Article p {
            text-align:justify;
            text-indent: 5rem;
        }

    .forcast{
        display: flex;
    }    
    .day{
        display:block;
    }
/*********contact******/
.contact{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:auto;
}
.contact-info{
    margin-left: -3rem;
}
    .map {
        
        display:block;
        width: 70%;
        margin:auto;
        
    } 
    
    
    
   
    


}