@media only screen and (min-width: 37.5em){

nav button{
    display: none;
}
nav ul {
    display: flex;
}
nav li {
    display:inline-block;
}
nav ul li {
    flex: 1 1 100%;
} 

nav ul.hide {
    display: block;
}

nav ul li a {
   font-size: 20px;
   margin-left: 1rem;
}
.logo{
    max-width: 18%;
}
section nav{

    float:right;
    margin-top: -1.5rem;
}
header {
    padding-bottom: 2.5rem;
}
/*****************home main page*******************/
.alert{
    font-size: 30px;
}
.closetab{
    font-size: 40px;
    margin: 0rem 20rem;
}
.welcome {
    font-size: 40px;
}
.mission {
    font-size: 20px;
}
#same{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;  
    text-align: center; 
}
/***********section*************/
.companies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
   
}
.join {
    
    
   
    padding: 5.7rem;
}
/***************weather box*********************/
.weather{
    top:1rem;
    font-size:18px;
}

.contact {
    display:grid;
    grid-template-columns: 1fr 1fr;  
}
.map-one {
    padding-top: 3%;
    padding-bottom: 3%;
}
.list {
    display:block;
    font-size: 15px;
    
    font-weight: normal;
}
.events {
    padding: 0.5rem;
}
/********************Forecast*************************/

.forecast{
    display:flex;
    
    width: 80%;
}    
.week{
    display:block;
    margin: 1rem;
    font-size: 25px;
    text-align: center;
}
/***********************Thankyou page******************************/
.thanks {
    font-size: 20px;
}
.you {
    font-size: 40px;
}
/************************Contact page************************/
.mapi{
    display: block;
    text-align: center;
    margin-top: 3rem;
}


.map-two iframe {
    display:block;
    width: 100vw;
    height: calc(.75 * 100vw);
    max-width: 600px;
    max-height: 450px; 
    margin: 1em auto;
    border: solid 5px #81B29A;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
}
.icons {
display:inline-block;
padding: 0.5rem;
margin-top: -1.5rem;
}
    


.contact-one {
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    margin: 1rem;
    }
    
.address {
    margin: 2rem auto;
}
.button {
    max-width: 60%;
    margin-left: 4.5rem;
    align-content: center;


}
.conti {
    font-size: 30px;
}
.form2 {
    font-size: 18px; 
}
.message {
   margin: -0.5rem 2rem; 
}
.busi {
font-size: 30px;
}
.monday {
    font-size: 18px;
}
.care {
    font-size: 20px;
}
.info {
    font-size: 18px;
}
/**********************Parker Page*********************/

/*******parker history***********/
.history {
    position: relative;
}
.history img {
    float: left;
    margin: 0.5rem 1rem 0.5rem;

}
.brief {
    margin: 3rem 1rem;
    font-size: 30px;
    
}
.by {
    margin: -2.5rem 1rem 3rem;
    font-size: 16px;
    
}
.according {
    font-size: 15px;
  }
  /*************demographics*************/
  .demo-paragraph {
      font-size: 15px;
  }
  .demo{
      margin: 1rem 6rem;
      
  }
  .subheader {
    display:grid;
    grid-template-columns: 1fr 1fr; 
    text-align: left;
    font-size: 20px;
  }
  .answer {
    
    font-size: 15px;
} 
/**************************Join page*******************************/
/********membership levels*************/



.member-ship-one {
  display:grid;
  grid-template-columns: 1fr 1fr;  
}

.levels{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

.gold, .profit {
    background-color: #81B29A;
}
.bronze, .silver {
    background-color:#e07a5f;
}
/***********form*************/

.application-title { 
    font-size: 40px;
    
 }
 .first input, .second-two input{
    display:inline-block; 
    padding: 0.5rem;
    margin: 0.5rem 0rem;  
   }
   .grid-1{
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap:1px;
       margin:auto;
       text-align:left;
       
   }
   .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1px;
    margin:auto;
    text-align: left;
      
   }

.first {
    display:inline-block;
}
.grid-business {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1px;
    margin:auto;
    text-align: left;   
}
.grid-web {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1px;
    margin:auto;
    text-align: left;   
}
.textarea-two {
    display: block;
    margin: 0rem 0.1rem;
    width: 95%;
}
.third-one {
    display:inline-block;
    margin: 2.5rem; 

}
/********************directory**********************/

.buttons-four{
    display:block;
    margin: 0rem 0.5rem;

}

}