/***************Header*****************/
body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem;

}
header {

    background-color: #F2CC8F;
    padding: 2.8rem 2rem 1.5rem;
    margin:0 auto;
}
.logo {
float:left;
margin-top:-2.3rem;
margin-left: -1.7rem;
max-width:28%;
padding-top: -1rem;



}
nav {
    margin:0 auto;
}
nav button {
     background-color: transparent;
    border:none; 
    font-size: 1.6rem;
    float:right;
    margin-top: -2rem;
    padding-top: -2rem;

 }

 nav ul {
    list-style-type:none;
    margin: 0;
    padding: 0;

    
}

 nav ul li a {
     display:block;
     color:#3D405B;
     text-align: right;
     padding: 0.75rem;
     text-decoration:none;
     font-size: 0.95rem;
     background-color: none;
    
     }
    
     nav ul.hide {
        display: none;
    }
    nav ul li.active a {
        text-decoration:underline;
        color:rgb(63, 146, 60);   
       }
   nav a:hover {
       
       background-color:#f4f1de;
       border-radius: 30%;
       
   }
/**************end header**************/

/******************home page-main**********************/

main {
    background-color: #F4F1DE;
    padding-bottom: 1rem;
        
}
.pink {
    margin: -1rem 0rem;
    max-width: 100%;
}

.welcome {
    text-align: center;
    font-size: 30px;
    font-family: 'cabin', sans-serif;
}


.mission {
    text-align: center;
    font-size: 14px;
    font-family: 'Bona Nova', serif;
}

/**************sections*****************/
.busi-comp {
  border: solid 2px black;
  background-color: #F2CC8F; 
  margin: 1rem 0.5rem;
  text-align: center; 
  padding-top:2rem;  
}

.companies {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    
    padding: 2rem 0.5rem 4rem;
    
}
.companies section {
    text-align: center;
}

.busi-one{
   
    font-family:'cabin', sans-serif;
    font-weight:700;
    font-size: 35px;
    color:white;
    
     
      
}

.join,
.events
{

display: block;
   border: solid 2px black;
   margin: 2rem 0.5rem;
    
   text-align: center;
}

.join {
    background-color:#E07A5F;
    
    font-family:'cabin', sans-serif;
    font-weight:700;
    font-size: 35px;
   padding: 5rem 0rem;
}
#join{
  color:white;  
}
.events {
    background-color: #3D405B;
    color:white;
    font-family:'cabin', sans-serif;
    font-weight:700;
    font-size: 35px;
    padding: 3rem 0rem;
    
    
}
#events {
    color:white;
   
}
.contact {
    display:grid;
    grid-template-columns: 1fr;
    margin: 2rem 0.5rem;
    text-align: center;
    padding: 0.5rem;
    background-color: #81b29a;
    border: solid 2px white;
}

.address {
    display:block;
    text-align: center;
    font-family:'Bona Nova', serif;
    font-size: 14px;
    color: white;
   }

.icons {
    display: none;
}
.cont {
    font-size: 25px;
}
.chamber {
    font-size:20px;
    font-weight:400;
}
.map-one {
    overflow: hidden;
    padding-bottom: 4%;
    position: relative;
    
}
.list{
    display: none;
}
/*********************Weather box section
******************/
.hero-one {
    margin: 10px auto;
    position: relative;
}

/*.navigation-one{
    position:relative;
}*/

.alert {
    position:relative;
    margin: 0.3rem auto;
    padding: -1rem;
    background-color: red;
    text-align: center;
    color:rgb(12, 12, 12);
    border: 2px solid red;

    font-size: 18px;
    font-weight:700;
}

.closetab {
    position:absolute;
    border: 0;
    margin:0rem 7.5rem;
    
    background: none;
    color:#000;
    font-size:30px;
    font-weight: 700px;
    cursor:pointer;
    width:30px;
    height:30px;   
}
.weather {
    position:absolute;
    top: -0.5rem;
    right: 10px;
    background: radial-gradient(rgb(248, 242, 242), #F4F1DE);
    color:rgb(12, 12, 12);
    border: 2px solid;
    padding: 0.3rem;
    font-size: 12px;
    opacity: 0.8;
    font-weight:700;

  
}
.closebtn {
    position: absolute;
    border: 0;
    top: -6px;
    right:-15px;
    background: none;
    color:#000;
    font-size:25px;
    font-weight: 700px;
    cursor:pointer;
    width:30px;
    height:30px;

    }
/**********************Forecast*****************************/
.forecast {
    display: flex;
    flex-flow: row wrap;
    position: relative;
       margin: 10px auto;
       display:none;   
   }
   .fore {
       flex: 1 1 auto;
       background-color:#a4d6e6 ;
       border:solid 2px black;
       text-align: center;
   }
   #dayofweek1,
   #dayofweek2,
   #dayofweek3 {
       display: block;
       padding: 8px;
       border-bottom: 1px solid #a4d6e6;
       text-align: center;
       font-weight: 700;
       font-size: 1rem;
       background-color:#fefffe;
       color: rgb(15, 15, 15);   
   }
   .degree {
       margin-top:-0.5rem;
   }   
.week {
    display:none;
}
/***********************thank you page************************/
.thanks {
    text-align:center;
    font-family: 'Bona Nova', serif;
    font-size: 14px;
} 
.you {
    font-family:'cabin', sans-serif;
    font-size: 30px;
}
/*******************************Contact page******************************/


/*******contact us section***********/
.map-one iframe {
display:block;
width:100vw;
height: calc(.75 * 100vw);
max-width: 400px;
    max-height: 300px; 
    margin: 1em auto;
}
    
.contact {
    display:grid;
    grid-template-columns: 1fr;
    
}    
.map-one iframe {
    display: block;
    width: 100vw;
    height: calc(.75 * 100vw);
    max-width: 400px;
    max-height: 350px; 
    margin: 3em auto;   
}
.map-two iframe {
    display:none;
    
}
/****************contact form******************/
.contact-one {
    display:grid;
grid-template-columns: 1fr;
}

.form2 {
  display:block;
  padding: 0rem 1rem; 
}
.required{
  color:red;
  font-size: 15px;  
}
 .requi {
     font-size: 14px;
     margin-left: 1rem;
 }
.message{
    margin:1rem;
} 
.conti {
    font-size: 25px;
    margin-left: 1rem;

}
.ratio{
    margin: -1rem;
    padding-bottom: 1rem;
}
.info {
    display:block;
    padding-top: 1rem;
    color:#3D405B;
    margin: 1rem;
font-size: 15px;
}
.info input, textarea {
    display:block;
    font-size: 1rem;
    border: solid 1px #E07A5F;
    padding: 2px;
    width: 100%;
    max-width: 100%;
}
.button {
    border: none;
  background-color: #3D405B; 
  color:#eee;
  font-size: 25px; 
  margin:0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 50%;
  width:100%
}
.mapi {
    display:none;
}
.monday {
  font-size: 15px;  
}
.care {
    font-size: 15px;
}
/*******list of directors*********/
.direct-list{
    display: block;
    text-align: center;
}
.chair {
    font-size: 18px;
}
.commit {
    font-size: 13px;
}
.direct {
    font-size: 18px;
}
/***********************end contact************************/
footer {
    background-color: #F2CC8F;
    text-align: center;
    margin-bottom:1rem;

    padding: 0.5rem;
}
/****************Parker Page*******************/
/********history section**********/
.old-parker img {
    display: block;
    margin: auto;
    max-width: 100%;
}
.brief {
    margin: 2rem 1rem;
    font-size: 30px;
    font-family:'Cabin', sans-serif; 
}
.by {
    margin: -2rem 1rem 3rem;
    font-size: 15px;
    font-family: 'Bona Nova', serif;
}
.according {
  text-align: left; 
  margin: 1rem; 
  font-family:'Bona Nova', serif; 
  font-size: 15px;
}
/******************demographics***************/
.demo {
    border:#3D405B solid 2px;
    background-color: #81b29a;
    margin:1rem;
}

.subheader {
    border-bottom:solid 2px black;
    margin: 0rem;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr;
    font-size: 20px;
    font-family:'Bona Nova', serif ;
}
.answer {
    font-family:'Cabin', sans-serif;
    font-size: 16px;
} 
.subheader {
    cursor:pointer;
}
.demo .subheader:hover {
    background-color:#3D405B;
    color:#eee;
    
}
.demo-title {
    text-align: center;
    font-size: 30px;
    font-family:'Cabin', sans-serif; 
    margin-top: 0.5rem;
}
.demo-paragraph {
    text-align: center;
    margin: 1rem;
    font-size: 15px;
    font-family:'Bona Nova', serif; 
}
/************Events***************/
.events-one {
    font-size: 30px;
    font-family: 'Cabin', sans-serif;
    margin:2rem auto;
    text-align: center;
}
.around{
    border: solid 2px #E07A5F;
    padding:1rem;
    margin:1rem;
    background-color: white;
}
ul li{
    align-content: left;
    list-style: none;
    font-family:'Bona Nova', serif;
}
.title {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
    color:#E07A5F;
    font-size: 20px;
}
/**************************Join page*******************************/
/********membership levels*************/
.member-ship-one {
    display:grid;
    grid-template-columns: 1fr;  
  }

  .pink-two {
    display: block;
      margin: 0 auto;
      min-width: 100%;
  }
.member {
    font-size: 30px;
    text-align: center;
    font-family:'Cabin', sans-serif;
}
.become {
    font-size: 15px;
    font-family:'Bona Nova', serif;
    margin: 1rem;
}
.member-ship {
    font-size: 20px;
    text-align: left;
    font-family:'Cabin', sans-serif;
    margin: 1rem;
}
.commerce-two {
margin:1rem;
}
.Market{
    margin: 1rem;
}

.levels{
    display:grid;
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: center;

}
.levels ul li {
    text-align: left;
    margin: 0.5rem;
    padding: 0.5rem -1rem;
    list-style:square;
}
.gold, .bronze {
    background-color: #81b29a;
    
    
}
.silver, .profit {
    background-color: #E07A5F;
}

/********************form******************/
.application-title {
   text-align: center; 
   font-size: 30px;
   font-family:'Cabin', sans-serif ;
}
.sub-title {
    text-align: left;
    background-color: #3D405B;
    color:#eee;
    padding: 1rem;
    font-family:'Cabin', sans-serif;
    font-weight:normal;
}

.first input, .second-two input{
 display:block; 
 padding: 0.5rem;
 margin: 0.5rem 0rem;  
}
.first, .second-two {
    display:block;
    margin:1rem
    
}
.third {
    display:inline-block;
    margin:-1rem 1rem 0.5rem 1rem;
    padding: 0.5rem;
}
.textarea-two {
    width: 80%;
}

.third-one {
display: block;
font-size: 15px;
font-family:'Bona Nova', serif;
margin: 1rem;
}

.button-two {
    display:block;
    background-color: #3D405B;
    border: none;
    color: white;
    padding: 1rem 1rem;
    margin:3rem auto;
font-size: 20px;
font-family:'Cabin', sans-serif;
    width:50%;
    
   
}
/******************Attribution page***********************************************/
.attrib {
    text-align: center;
}

/***************************Directory page****************************/
.direc{
    text-align: center;
    margin: 2rem 0.5rem;
}
.company section {
    border: solid 2px #fefffe;
    text-align: center;
    background-color: #3D405B;
    padding: 0.5rem;
    color:white;
    margin: 1rem 0.5rem;
    

} 

.buttons-four{
    display:none;
}

 
    
