@media only screen and (min-width: 60em){
 

 .pink {
     max-width: 100%;
 } 
 .map {
     max-width: 100%;
     } 
     .weatherbox {
         top: 5rem;
     }

    
/********************gallery page**********************/  


.gallery-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    justify-self: center;
    margin:0 auto;
    max-width: 1000px;
   
} 
.gallery-title
 {
    
    text-align: left;
    margin: 0 auto;
    max-width: 1000px;

}

#visit {
    text-align: left;
    margin-left: 0.5rem;
    max-width: 1000px;  
}
.images {
    padding: auto;
    max-width: 100%;
}
img{
    max-width: 100%;
}
 
/********************end gallery page*******************************/

/*******************thanks page*************************/

.thanks {
    width: 600px;
  margin-top: 10rem;
}

.text {
    width: 500px;
    margin: 2rem 3rem 2rem;
  
}
.thank-you {
    margin: 20rem 0 -1rem;
}
/************************end thanks page*****************************/

/*************************Weather site page**************************/

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.cards section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0.5rem 1rem 0.5rem 1rem;

}

.cards section img {
margin-top: 2rem;
align-content: center;
}


.cards section:nth-child(even) img {
    grid-column: 2;
    align-items: center;
    margin: 0.5rem 9rem -1.2rem 0.1rem;

}

.cards section:nth-child(even) h2 {
    grid-column: 2;
}
.cards section:nth-child(even) h3 {
    grid-column: 2;
    margin-top: -2.5rem;
}
.cards section:nth-child(even) p {
    grid-column: 2;
    margin-top: -1rem; 
    padding-bottom: 1rem;   
}

  }
 